branches:
  only:
  - master
git:
  depth: 5
language: objective-c
osx_image: xcode7.3
before_install:
- rvm install 2.2.5
- pod install
cache:
- cocoapods
before_script:
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/AdHoc.mobileprovision.enc -d -a -out scripts/profile/AdHoc.mobileprovision
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.cer.enc -d -a -out scripts/certs/dist.cer
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.p12.enc -d -a -out scripts/certs/dist.p12
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/Debug.mobileprovision.enc -d -a -out scripts/profile/Debug.mobileprovision
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/debug.cer.enc -d -a -out scripts/certs/debug.cer
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/debug.p12.enc -d -a -out scripts/certs/debug.p12
- ./scripts/add-key.sh
- ./scripts/update-bundle.sh
script:
- xcodebuild -workspace Parking.xcworkspace -scheme Parking -sdk iphonesimulator build test
- xcodebuild -workspace Parking.xcworkspace -scheme Parking -sdk iphoneos -configuration Release OBJROOT=$PWD/build SYMROOT=$PWD/build ONLY_ACTIVE_ARCH=NO
after_success:
- ./scripts/sign-and-upload.sh
after_script:
- ./scripts/remove-key.sh
env:
  global:
  - APP_NAME="Parking"
  - 'DEVELOPER_NAME="iPhone Distribution: Vital Vinahradau (54KZKZ5JS4)"'
  - PROFILE_NAME="AdHoc"
  - secure: RdYMtmbosLEokzK4gHXY/6/nY3hZJFe91ENf55DyNgpHJBzap/W6EW+ynK5ypie37JKHf6khIRsuFFX6atyFQjSrzbrgo6cC3jNB0nFeAqjSDW9Ml2CvFBuAxtes0sipW/N3H5H5LOQx52WmkcOkeERA8DkuugzOYZ1XUOTFb3+7eXqxgrrTWGu8R+J6LzQobucl7W1y+t6N+IgTjEqPMKYXcNDmuydsrx1nkJB0f1Zc1qw30JUZWLm0Kt/WcDlwmEsCgARCSB/jE31V2uhBZHokrBRYKQwa4kpNdMdvb5TADHynDzn/coI5rTRUqq1R9MX5yb2mwxEY8G0u85dPdNmQXJpxJrpSCrPrSXmDSW5UdKCw9oS7gF0shabC6WcDq/LgBRWKFb3ied+xa319WPbdoWgiBDveaPvJK66f71UyzBo7YebpVg9mu8Fw9V+BYN3La0CZHLXw+OwMbV+Sn7aeaC3q1JfdpzffgEds+KppMMPy/VH5hYQ5RI9RwH79KgGMOtUfG73xnNBPtBZF7U2duJTbmbfk/9J4N7HX2zkz3m9GtLsyzRpSdcqlFVuZYk6+12DDWlX/HeBK9+YNB4v9hPsZ0xDBjA/jD2GIFrpwY3QttRFvxLD6s60v8fgN6DLvp03Cz702goqlhC3wUTn3FLTl30wrO7YJpII4vRw=
  - secure: mfE+QRlR70h29eCGOLOkVzA3tsc7wxQUrToP5qUWJejpg7B0d3RC3QQ10VbZs0pB7S6lYsB+VUdglekrdfYV275IMK4V7DiwU6cjbljl95jalWIxru3wk0CfUHWsTLfmsJHb26CwMOH7Lc7JQn6oHhxH+EAGajqDlgiig1iMql8niCOmdS5N3l7DnWVKJ3gXCdEBr4qeE9fvmFd/b5RH8aX3IdDs7IbI1R0eOCslysuM0Qh4Peih1XVynvs7pnQc7S2AISVeNFfI5RJUyyOeEQ8nVcyPJX8+Q6jHiPICx7s01F3nBlbHW9A1c44r59U+uUpeud7mWPtjgrKRK8PxZhu7YUaMqeRQ9SO6QEN7Lrw9MD5wOO9tg4eAWfa4tGwvS69dlSFhWx7jzvGjBq5sEYzhQcCAVHDX2WexAyxE9tzGXzxnzHsFerkRLe3I2KzW7UewG5AHnajvakSQVqFqVbVLfW0Z7FRlHWpysMtgFbkSnPK4ogNFT/LPsCtUnE/+QX8eh8kQNVUW3QDPZGc+QmpiQ8lxJWFz2xFxuTWdofTrmz43JTnOVIi8Oq1nlwgfe4Y3Kz3n1MznoeCONi7x8X6AM3oIx86NATNljnMlVhOxaixPw3uTJnDYbvQczZ4EpA78mFQmOQa9HDamC2USjpCqIAOwKfbC8CNj+PdqwpM=
